
@{
    ViewData["Title"] = "Sobre";
}

<link rel="stylesheet" href="~/css/styleSobre.css" asp-append-version="true" />

<main>
    <br>
    <section class="info">
        <article class="whoAre">
            <h2>Quem Somos</h2>
            <p>
                Somos uma plataforma dedicada a promover oportunidades de emprego para pessoas refugiadas, ajudando-as a reconstruir suas vidas e contribuir para o crescimento das comunidades que as acolhem. Nossa missão é conectar talentos à procura de um novo começo com empresas comprometidas em valorizar a diversidade, inclusão e responsabilidade social.
            </p>
            <p>
                Entendemos os desafios enfrentados por quem deixou sua terra natal em busca de segurança e uma nova chance. Por isso, criamos um espaço onde refugiados podem encontrar oportunidades de trabalho alinhadas às suas habilidades, experiências e ambições. Nosso objetivo é empoderar essas pessoas, fornecendo os recursos e suporte necessários para que elas possam se integrar e prosperar no mercado de trabalho.
            </p>
            <p>
                Acreditamos que cada pessoa tem algo único a oferecer, e ao facilitar essa conexão entre empresas e profissionais refugiados, estamos contribuindo para um futuro mais justo e inclusivo para todos. Junte-se a nós nessa missão de transformar vidas e construir pontes através do trabalho!
            </p>
        </article>

        <article class="whyDo">
            <h2>Motivação</h2>
            <p>
                Acreditamos que o trabalho é uma das chaves para a dignidade humana. Para milhões de refugiados que foram forçados a deixar suas casas e recomeçar em um novo país, a oportunidade de trabalhar não é apenas uma fonte de renda, mas também uma forma de reconquistar sua identidade, independência e dignidade.
            </p>
            <p>
                Fazemos isso porque sabemos que o talento e a determinação dos refugiados são inestimáveis, e queremos criar pontes entre essas pessoas e as empresas que veem a diversidade como um valor essencial. Ao abrir portas para oportunidades justas e acessíveis, ajudamos a construir sociedades mais fortes, inclusivas e prósperas.
            </p>
            <p>
                Também acreditamos que cada pessoa merece a chance de ser reconhecida pelo que pode oferecer, independentemente de sua origem. Nosso compromisso é com um futuro onde o potencial humano seja plenamente aproveitado, superando barreiras culturais, sociais e econômicas.
            </p>
            <p>
                Fazemos isso porque sabemos que, ao ajudar refugiados a encontrarem emprego, estamos não só mudando suas vidas, mas também enriquecendo as comunidades que os acolhem, promovendo inovação, diversidade e crescimento para todos.
            </p>
        </article>

        <article class="whatDo">
            <h2>O que fazemos</h2>
            <p>
                Nossa plataforma conecta refugiados em busca de novas oportunidades de emprego com empresas dispostas a apoiar a inclusão e a diversidade em seus ambientes de trabalho. Atuamos como um elo entre esses profissionais talentosos e o mercado de trabalho, facilitando o acesso a vagas de emprego que valorizam suas habilidades, experiências e potencial.
            </p>
            <p>
                Oferecemos suporte completo, desde a preparação do currículo até o desenvolvimento de habilidades e a orientação sobre o mercado de trabalho local. Ajudamos refugiados a se integrarem de forma efetiva e digna, empoderando-os com as ferramentas necessárias para encontrar um emprego que corresponda às suas capacidades e ambições.
            </p>
            <p>
                Também trabalhamos diretamente com empresas, sensibilizando e incentivando a adoção de práticas inclusivas. Ajudamos organizações a identificar o valor da diversidade e a criar ambientes onde todos possam prosperar. Por meio de parcerias estratégicas, buscamos gerar impactos sociais duradouros, contribuindo para a construção de uma sociedade mais equitativa e solidária.
            </p>
            <p>
                Nosso compromisso é com a transformação de vidas, a promoção da igualdade e a criação de oportunidades justas para todos.
            </p>
        </article>
    </section>

    <footer>
       
    </footer>

</main>
