@page
@model Job_refugio_bd.Views.OpLogin.IndexModel
@{
}
<div style="text-align: center; margin-top: 8%">
    <a class="btn btn-primary" style="padding: 4%" asp-area="" asp-controller="Candidatos" asp-action="Login">Login Candidato</a>
    <a class="btn btn-primary" style="padding: 4%" asp-area="" asp-controller="Empregadores" asp-action="Login">Login Empregador</a>
</div>