@using System.Security.Claims
<!DOCTYPE html>
<html lang="pt-br">

@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Job_refugio_bd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Job_refugio_bd.styles.css" asp-append-version="true" />-->
    <link rel="stylesheet" href="~/css/styleHome.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!--Barra de navegação para dispositivos moveis-->
        <nav class="navbar_mobile">
            <div id="logo_mobile">Job Refugio</div>
            <div class="menu-toggle" id="mobile-menu">
                &#9776;
            </div>
            <ul class="nav-list" id="nav-list">
                <li class="itemMenu"><a class="link-item-menu" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="itemMenu"><a class="link-item-menu" asp-area="" asp-controller="Vagas" asp-action="VagasDisponiveis">Vagas</a></li>
                <li class="itemMenu"><a class="link-item-menu" asp-area="" asp-controller="Guia" asp-action="GuiaRefugiado">Guia Refugiado</a></li>
                <li class="itemMenu"><a class="link-item-menu" asp-area="" asp-controller="Sobre" asp-action="">Sobre</a></li>
            </ul>
        </nav>

        <!--Barra de navegação para demais dispositivos-->
        <div class="nav">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img id="logo" src="~/img/Logo_.png" alt="logo JobRefugio"></a>
            </div>
            <div class="menu">
                <ul class="menu_horizontal">
                    <li class="itemMenu"><a class="link-item-menu" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="itemMenu"><a class="link-item-menu" asp-area="" asp-controller="Vagas" asp-action="VagasDisponiveis">Vagas</a></li>
                    <li class="itemMenu"><a class="link-item-menu" asp-area="" asp-controller="Guia" asp-action="GuiaRefugiado">Guia Refugiado</a></li>
                    <li class="itemMenu"><a class="link-item-menu" asp-area="" asp-controller="Sobre" asp-action="Sobre">Sobre</a></li>
                </ul>
            </div>
            <div class="perfil">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="#"><img id="logo_perfil" src="~/img/perfil.png" alt="imagem representa perfil"></a>
                    <ul>
                        <li class="drop">
                            <a style="text-decoration: none;" asp-area="" asp-controller="Candidatos" asp-action="Details" asp-route-id="@userId"><span id="nome_usuario_menu">@User.Identity.Name</span></a>
                            
                            <div class="divisao"></div>
                            <a id="link_login" asp-area="" asp-controller="Candidatos" asp-action="Logout">Sair</a>
                        </li>
                    </ul>
                }
                else
                {
                    <a href="#"><img id="logo_perfil" src="~/img/perfil.png" alt="imagem representa perfil"></a>
                    <ul>
                        <li class="drop"><a id="link_login" asp-area="" asp-controller="OpcaoLogin" asp-action="Index">Login/Cadastrar</a></li>
                    </ul>
                }
                
            </div>
        </div>
    </header>
 
    
        <main >
       

            @RenderBody()
        </main>
    <script src="~/js/scriptCriarVaga.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
