@using System.Security.Claims
@model Job_refugio_bd.Models.Empregador

@{
    ViewData["Title"] = "Details";
}

@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<link rel="stylesheet" href="~/css/stylePerfilEmpregador.css" asp-append-version="true" />


<main>
    <div class="content">
        <!--banner-->
        <section class="banner"></section>
        <!--Menu Lateral-->
        <aside id="menuLateral" class="menuLateral">
            <h1 id="hi">Olá, @User.Identity.Name</h1> <!--incluir nome do empregador criando um Id-->
            <a class="linksLateral" asp-area="" asp-controller="Empregadores" asp-action="Details" asp-route-id="@userId">Home</a>
            <a class="linksLateral" asp-area="" asp-controller="Empregadores" asp-action="Edit" asp-route-id="@userId">Meus Dados</a>
            <a class="linksLateral" asp-controller="Candidatos" asp-action="index" class="btn btn-secondary">Procurar Candidatos</a>
        </aside>
        <!--Cards tipo botão para acessar currículos e vagas anunciadas-->
        <div class="card">
            <a class="linkCard" asp-area="" asp-controller="Vagas" asp-action="Create">Anunciar vaga</a>
        </div>

        <div class="card">
            <a class="linkCard" asp-area="" asp-controller="Empregadores" asp-action="GerenciarVagas" asp-route-id="@userId">Gerenciar vagas</a>
        </div>

        <div class="card">
            <a class="linkCard" asp-area="" asp-controller="Candidatos" asp-action="index">Candidatos</a>
        </div>
    </div>
</main>
